<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel='icon' href="{{ url_for('static',filename='img/favicon.ico') }}" type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            
            <div class="nav-logo">
                <a href={{ url_for( "index" ) }}><img src="{{ url_for( 'static',filename='img/logo.svg') }}"/></a>
            </div>
            
            <ul class="nav-menu">
                {% for i in range(nav.people|length) -%}
                    <li class="dropdown-box">
                        <a class="dropdown" href="#">{{nav.people[i]|upper}}</a>
                        <div class="dropdown-content">
                            {% for j in range(nav.url|length) -%}
                                {% if j == 0 %}
                                    <a href={{ url_for( nav.people[i] ) }}>{{nav.label[j]}}</a>
                                {% else %}
                                    <a href={{ url_for( nav.url[j], name=nav.people[i] ) }}>{{nav.label[j]}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    <br>
                {% endfor %}
                <li><a href={{ url_for( "map" ) }}>MAP</a></li>
            </ul>
            
        </div>
    </header>
    {% block body %}{% endblock %}
</body>
</html>