{% extends "base.html" %}

{% block javascript %}

<script src="{{ url_for('static', filename='javascript/w_hobbies.js') }}"></script>

{% endblock javascript %}


{% block body %}


    <div class="name">
        <div id={{mypic}} class={{mypic}} style = "display: flex; justify-content: center;">
            <img src="/static/img/{{photo}}" width="500" alt = "picture of hobby">
        </div>
    </div>

    {% for i in range(hobbies|length) %}
        <h2 class="hobby-header"> I enjoy: </h2>
        <p class="hobby-content">{{ hobbies[i] }}</p>
    {% endfor %}

{% endblock %}
