{% extends "base.html" %}

{% block body %}
<div class="name">
    <div id="amber-picture" class="amber-picture">
        <img src="./static/img/amber_photo.jpg" width="200">
    </div>
</div>

<div class="about-me">
    <h1 class="section-header">Amber Xue</h1>
    <p class ="text" style="width: 500px;" >
        I'm currently pursuing a Computer Science 
        Master's degree at UPenn. Thriving in the wine industry and 
        product marketing-related jobs for three years, I'm passionately 
        seeking to make an impact on the traditional production 
        industry with advanced computer technology as well as my 
        programming skills and product insights.</p>
</div>
{% endblock %}