{% extends "base.html" %}

{% block body %}
<div class="name">
    <div>
        <img src="./static/img/jacky_photo.jpg" width="200">
    </div>
</div>

<div class="about-me">
    <h1 class="section-header">Jacky Lin</h1>
    <p class ="text" style="width: 500px;" >
        I'm currently pursuing a B.S. Computer Science 
        degree at the University of Kansas. What intrigued me the most 
        about this field is the ability to create. It is never so simple to 
        master this field, as with any other field, yet the failures sometimes 
        turn out to be rewards.
    </p>
</div>
{% endblock %}