{% extends "base.html" %}

{% block body %}
<div id="projects">
    <div class="text">
        <h1 class = "project-header">PROJECTS</h1>
    </div> 

    <div class="card" style="width: 18rem;">
        <img src="static/img/terminal_project.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Terminal Shell (2020)</h5>
            <p class="card-text"> A basic terminal shell with various commands including redirection and advanced redirection.</p>
            <a href="https://github.com/williamlin-02/shell-project" target="_blank" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}