{% extends "base.html" %}

{% block body %}
<div class="name">
    <div id="william-picture" class="william-picture">
        <img src="./static/img/william_photo.jpg" width="200">
    </div>
</div>

<div class="about-me">
    <h1 class="section-header">William Lin</h1>
    <p class ="text" style="width: 500px;" >
        I'm currently pursuing a B.S. in Computer Science 
        at the University of Chicago. My favorite aspect
        of programming is being able to visualize my efforts on
        screen in various creative ways—I especially loved
        creating a replica of bloons tower defense during one of
        my first computer science classes in high school.
        Such experiences are what draws me to coding and the 
        vast ocean of possibilities it allows for.</p>
</div>
{% endblock %}