{% extends "base.html" %}

{% block body %}
    <div id="work-edu-site">
        <div class="work-edu-container">
            <h1>Work Experience</h1>
            {% for i in range(job|length) -%}
            <h4>{{ job[i] }}</h4>
            <p>
                {% for desc in job_description[i] -%}
                    {{ desc }} <br>
                {% endfor %}
            </p>
            <br>
        {% endfor %}
        </div>
    
        <div class="work-edu-container">
            <h1>Education</h1>
            {% for i in range(education|length) -%}
                <h4>{{ education[i] }}</h4>
                <p>
                    {% for desc in edu_description[i] -%}
                        {{ desc }} <br>
                    {% endfor %}
                </p>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
